@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

.card-box {
	padding: 20px;
	background: #fff;
  @include vendor-prefix('box-shadow', '0 2px 5px rgba(0,0,0,.3)');
}
.header {
	background: #337ab7;
	line-height: 100px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 30px;
}
